@import 'reset.css';
body {
    background-color: rgb(225, 201, 174);
}
header {
    background-color: rgb(133, 178, 178);
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}
h1 {
    display: flex;
    font-size: 25px;
    justify-content: center;
    align-items: center;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px rgb(123, 104, 81), -1em 0 .4em olive;
}